<!DOCTYPE html>

<html lang="en">

<head>
    <title>[<%= mtdEnv %>] Configuration</title>
    <link rel="stylesheet" href="/css/mtd.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/mtd.js"></script>
    <script src="/js/qr.js"></script>
</head>
<body>

<%- include _menu.ejs %>

<h2><span class="<%= locals.mtdEnv %>">[<%= locals.mtdEnv %>]</span> Global Configuration</h2>

<%- include _error.ejs %>

<form method="post">
    <div class="config">
        <b>VAT Registration Number</b> <input id="vrn" name="vrn" value="<%=locals.appConfig?locals.appConfig.vrn:''%>"/>
        <b>Corporation Tax UTR</b> <input id="ctUtr" name="ctUtr" value="<%=locals.appConfig?locals.appConfig.ctUtr:''%>"/>
        <b>Employer Reference</b> <input id="empRef" name="empRef" value="<%=locals.appConfig?locals.appConfig.empRef:''%>"/>
        <b>MTD VAT Reference Number</b> <input id="mtdVrn" name="mtdVrn" value="<%=locals.appConfig?locals.appConfig.mtdVrn:''%>"/>
        <b>National Insurance number</b> <input id="nino" name="nino" value="<%=locals.appConfig?locals.appConfig.nino:''%>"/>
        <b>Making Tax Digital Income Tax ID</b> <input id="mtdItId" name="mtdItId" value="<%=locals.appConfig?locals.appConfig.mtdItId:''%>"/>
        <b>Self Assessment Unique Tax Reference (UTR)</b> <input id="saUtr" name="saUtr" value="<%=locals.appConfig?locals.appConfig.saUtr:''%>"/>
        <input type="submit" value="Save"/>
    </div>
</form>

</body>
</html>
